#root{
    text-align:center;
    box-sizing: border-box;
    padding: 10px;
}

#sub{
    text-align: center;
}

#final{
    margin-top: 10px;
    border:1px solid blue;
}

.container{
    border:1px solid red;
    height:30vh;
}