#root{
    text-align:center;
    box-sizing: border-box;
    padding: 10px;
}

#sub{
    text-align: center;
}

#final{
    margin-top: 10px;
    height:20vh;
    border:1px solid blue;
    height:30px;
}